{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="txt-color">Products</h1>
    <hr>
    {% if products is not empty %}
        <div class="row-product">
            {% for product in products %}
                <div class="card-product">
                    <img src="uploads/{{ product.ProductPicture }}" alt="Product Image">
                    <div class="text-center">
                        <h4 class="txt-color">{{ product.ProductName }}</h4>
                    </div>
                    <hr>
                    <div class="text-center">
                        <p class="txt-color">{{ product.ProductPrice }} <span class="dollar">$</span> // Stock :  {{ product.ProductQuantity }}</p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <a class="txt-color" href="/product/{{ product.id }}">More</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="txt-color">Il n'y a aucun(s) produit(s) !</p>
    {% endif %}
</div>
{% endblock %}
