{% extends 'base.html.twig' %}

{% block title %}{{ loc_prod }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="txt-color">{{ loc_prod }}</h1>
    <hr>
    {% if products is not empty %}
        <div class="row-product">
            {% for product in products %}
                <div class="card-product">
                    <img src="uploads/{{ product.ProductPicture }}" alt="Product Image">
                    <div class="text-center">
                        <h4 class="txt-color">{{ product.ProductName }}</h4>
                    </div>
                    <hr>
                    <div class="text-center">
                        <p class="txt-color">{{ product.ProductPrice }} <span class="dollar">$</span> // Stock :  {{ product.ProductQuantity }}</p>
                    </div>
                    <div class="text-center">
                        <a class="txt-color" href="/product/{{ product.id }}">{{ loc_info }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="txt-color">{{ loc_empt }}</p>
    {% endif %}
    <hr>
    <div class="text-center">
        <a class="txt-color" href="/product/create">{{ loc_crea }}</a>
    </div>
</div>
{% endblock %}
